body{
	background-color:lightsteelblue;
}
header{
	width:990px;
	margin:auto;
}
nav{
	width:auto;
	margin:auto;
}
nav ul{
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #A8A8A8;
}

nav li{
	width:25%;
	margin:auto;
	float:left;
}

nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 3%;
    text-decoration: none;
    width:auto;
}

nav li a:hover {
    background-color: #636363;
}
.footertext{
	width: 99%;
	text-align: center;
	bottom:2%;
	position:absolute;
	background-color:lightgrey;
}
section{
	width:50%;
	margin:auto;
	text-align:center;
	border:1px solid black;
}
.sectitle{
	font-family:arial;
	font-style:italic;
}
article{
	width:50%;
	margin:auto;
	text-align:center;
	border:1px solid black;
}
aside{
	width:10%;
	position:absolute;
	top:25%;
	left:10%;
	border:1px solid black;
}
.unicorns{
	height:15%;
	width:15%;
}